@tailwind base;
@tailwind components;
@tailwind utilities;

$accent: #efbf4c;
$dark: #353942;
$youngDark: #797d88;
$gray: #f4f4f4;
$info: #1d868b;

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

$quicksand: 'Quicksand';

html {
  font-family: $quicksand;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $gray;
}

.custom-header {
  background-color: $gray;
}

.side-bar {
  background-color: $dark;
}

.home-link.active {
  @apply font-semibold;
  @apply text-black;
  border-bottom: 2px solid gold;
}

.wrapper {
  .list {
    display: grid;
    grid-template-columns: 1fr 6rem 6rem 6rem;
  }
  .list-section {
    display: grid;
    grid-template-columns: 1fr 6rem 6rem;
  }
}

.button-primary {
  background-color: $info;
  border-radius: 0.3rem;
}

.bg-image {
  background-image: url('https://webgradients.com/public/webgradients_png/076%20Premium%20Dark.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.delete-grid {
}

.modal-confirm {
  margin-top: 10rem;
  width: 360px;
  height: 240px;
}

.schedule-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.btn-delete-schedule {
  top: -10px;
  right: -10px;
}
